<div class="widget ind-60 bg-gray border-v">
  <div class="container">
    <div class="row flex flex-wrap-tablet">
      <a href="who_help.html" class="board red thumb">
          <div class="thumb">
            <img src="img/board1.jpg" alt="Кому мы помогаем?" />
          </div>
          <div class="description">
            <h4 class="head">Кому мы помогаем?</h4>
            <p>
              Краткое пояснение раздела, в который пользователь попадет после клика
            </p>
          </div>
      </a>
      <a href="#" class="board yellow thumb">
          <div class="thumb">
            <img src="img/board2.jpg" alt="Как мы помогаем?" />
          </div>
          <div class="description">
            <h4 class="head">Как мы помогаем?</h4>
            <p>
              Краткое пояснение раздела, в который пользователь попадет после клика
            </p>
          </div>
      </a>
      <a href="#" class="board purple thumb">
          <div class="thumb">
            <img src="img/board3.jpg" alt="Результаты" />
          </div>
          <div class="description">
            <h4 class="head">Результаты</h4>
            <p class="indent-20">
              Краткое пояснение раздела, в который пользователь попадет после клика
            </p>
            <div class="col-sm-6 col-xs-12 indent-40-mobile no-padding-h">
              <p class="title">За сентябрь собрано</p>
              <p class="number">12 000 Р</p>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding-l">
              <p class="title">Успешно помогли</p>
              <p class="number">27 000 семей</p>
            </div>
          </div>
      </a>
    </div>
  </div>
</div>
