            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 hidden-xs">
                        <a href="index.html" class="hidden-xs hidden-sm">
                          <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                        </a>
                        <p>
                          НО «Благотворительный фонд «Синдром любви»<br class="hidden-xs hidden-sm hidden-md">
                          105043, г.Москва, ул. 3-я Парковая, д. 14А,<br class="hidden-xs hidden-sm hidden-md">
                          ОГРН 1027739619500   ИНН 7705159882
                        </p>
                      </div>
                      <div class="col-md-offset-1 col-md-1 no-padding-h hidden-sm hidden-xs">
                        <ul class="no-style">
                          <li><a href="#">Миссия</a></li>
                          <li><a href="team.html">Команда</a></li>
                          <li><a href="reports.html">Отчеты</a></li>
                          <li><a href="news.html">Новости</a></li>
                        </ul>
                      </div>
                      <div class="col-md-offset-1 col-md-1 no-padding-h hidden-sm hidden-xs">
                        <ul class="no-style">
                          <li><a href="smi.html">СМИ о нас</a></li>
                          <li><a href="programms.html">Программа</a></li>
                          <li><a href="events.html">Мероприятия</a></li>
                          <li><a href="#">Как помочь?</a></li>
                        </ul>
                      </div>
                      <div class="col-md-offset-1 col-md-3 col-sm-offset-2 col-sm-4">
                        <a href="tel:+7 (499) 367 1000" class="phone">+7 (499) 367 1000</a>
                        <a href="mailto:emailname@gmail.com" class="mail">emailname@gmail.com</a>
                        <a href="#" class="write"><svg class="icon icon-send"><use xlink:href="#icon-send"></use></svg>Напишите нам</a>
                      </div>
                    </div>
                    <ul class="social no-style">
                      <li>
                        <a href="#">
                          <svg class="icon icon-social icon-social-vk"><use xlink:href="#icon-vk"></use></svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="icon icon-social icon-social-fb"><use xlink:href="#icon-fb"></use></svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="icon icon-social icon-social-ok"><use xlink:href="#icon-ok"></use></svg>
                        </a>
                      </li>
                    </ul>
                    <div class="copyright">
                      Дизайн и разработка — <a href="http://www.ibrush.ru" target="_blank">iBrush</a>
                    </div>
                  </div>
                </div>
            </footer>

          </div>