            <div class="mobile-menu">
              <a href="index.html"><svg class="icon icon-logo-white"><use xlink:href="#icon-logo-white"></use></svg></a>
              <svg class="icon icon-cross" data-toggle=".mobile-menu"><use xlink:href="#icon-cross"></use></svg>
              <nav class="main-menu">
                @@include('_menu.html')
              </nav>
              <ul class="info no-style">
                <li class="phone"><a href="tel:+7 (499) 367 1000">+7 (499) 367 1000</a></li>
                <li class="send">
                  <a href="#">
                    <svg class="icon icon-send orange"><use xlink:href="#icon-send"></use></svg>Напишите нам
                  </a>
                </li>
              </ul>
            </div>
            <header class="site-header">
                <div class="container">
                    <button type="button" name="button" class="icon icon-menu" data-toggle=".mobile-menu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                      <a href="index.html">
                        <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                      </a>
                    </div>
                    <nav class="main-menu">
                      @@include('_menu.html')
                    </nav>
                    <div class="offer">
                      <a href="make_donation.html"><button type="button" name="button" class="btn btn-danger">Сделать пожертвование</button></a>
                    </div>
                </div>
                <ul class="social">
                  <li>
                    <a href="#">
                      <svg class="icon icon-social icon-social-vk"><use xlink:href="#icon-vk"></use></svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon icon-social icon-social-fb"><use xlink:href="#icon-fb"></use></svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon icon-social icon-social-ok"><use xlink:href="#icon-ok"></use></svg>
                    </a>
                  </li>
                </ul>
            </header>
