<div class="modal fade small bg" id="volunteer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <svg class="icon icon-cross modal-cross" data-dismiss="modal"><use xlink:href="#icon-cross"></use></svg>
        <p class="modal-title fs-22 text-bold indent-40">Поздравляем, <br class="hidden-xs">вы стали волонтером!</p>
      </div>
      <div class="modal-body">
        <p class="fs-20">Наши сотрудники свяжутся с вами, как только обработают данные анкеты.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade medium full-vh" id="offer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <svg class="icon icon-cross modal-cross" data-dismiss="modal"><use xlink:href="#icon-cross"></use></svg>
        <p class="modal-title fs-22 text-bold indent-20">Договор оферты</p>
      </div>
      <div class="modal-body">
        <div class="scroll-pane">
          <p>1.1. Предметом Договора является возмездное оказание Компанией Услуг Пользователю в сети Интернет на сайте Компании расположенного по адресу  в соответствии с условиями настоящего Договора. Перечень Услуг и порядок их предоставления указаны в п.2. и п.3. настоящего Договора.</p>
          <p>1.2.  Пользователь  полностью принимает условия Договора и оплачивает услуги Компании в соответствии с условиями настоящего Договора.</p>
          <p>2. Почтовый сервис</p>
          <p>2.1. Предоставление Пользователю интерфейса для отправки электронных писем и получения информационных материалов</p>
          <p>2.2. Предоставление различных способов оплаты услуг с помощью специализированных сервисов</p>
          <p>2.3. Функцией Почтового сервиса в процессе передачи электронных сообщений от Пользователя к Получателю является передача данных указанных Пользователем при заполнении «Формы отправки электронного письма» до сервера исправительного учреждения посредством сети интернет.</p>
          <p>2.4. Услуга информирования Пользователя о прохождении этапа цензуры. Уведомление Пользователя осуществляется в виде электронных сообщений отправленных на e-mail адрес указанный Пользователем в «Форме отправки электронного письма»</p>
          <p>1.1. Предметом Договора является возмездное оказание Компанией Услуг Пользователю в сети Интернет на сайте Компании расположенного по адресу  в соответствии с условиями настоящего Договора. Перечень Услуг и порядок их предоставления указаны в п.2. и п.3. настоящего Договора.</p>
          <p>1.2.  Пользователь  полностью принимает условия Договора и оплачивает услуги Компании в соответствии с условиями настоящего Договора.</p>
          <p>2. Почтовый сервис</p>
          <p>2.1. Предоставление Пользователю интерфейса для отправки электронных писем и получения информационных материалов</p>
          <p>2.2. Предоставление различных способов оплаты услуг с помощью специализированных сервисов</p>
          <p>2.3. Функцией Почтового сервиса в процессе передачи электронных сообщений от Пользователя к Получателю является передача данных указанных Пользователем при заполнении «Формы отправки электронного письма» до сервера исправительного учреждения посредством сети интернет.</p>
          <p>2.4. Услуга информирования Пользователя о прохождении этапа цензуры. Уведомление Пользователя осуществляется в виде электронных сообщений отправленных на e-mail адрес указанный Пользователем в «Форме отправки электронного письма»</p>
          <p>1.1. Предметом Договора является возмездное оказание Компанией Услуг Пользователю в сети Интернет на сайте Компании расположенного по адресу  в соответствии с условиями настоящего Договора. Перечень Услуг и порядок их предоставления указаны в п.2. и п.3. настоящего Договора.</p>
          <p>1.2.  Пользователь  полностью принимает условия Договора и оплачивает услуги Компании в соответствии с условиями настоящего Договора.</p>
          <p>2. Почтовый сервис</p>
          <p>2.1. Предоставление Пользователю интерфейса для отправки электронных писем и получения информационных материалов</p>
          <p>2.2. Предоставление различных способов оплаты услуг с помощью специализированных сервисов</p>
          <p>2.3. Функцией Почтового сервиса в процессе передачи электронных сообщений от Пользователя к Получателю является передача данных указанных Пользователем при заполнении «Формы отправки электронного письма» до сервера исправительного учреждения посредством сети интернет.</p>
          <p>2.4. Услуга информирования Пользователя о прохождении этапа цензуры. Уведомление Пользователя осуществляется в виде электронных сообщений отправленных на e-mail адрес указанный Пользователем в «Форме отправки электронного письма»</p>
          <p>1.1. Предметом Договора является возмездное оказание Компанией Услуг Пользователю в сети Интернет на сайте Компании расположенного по адресу  в соответствии с условиями настоящего Договора. Перечень Услуг и порядок их предоставления указаны в п.2. и п.3. настоящего Договора.</p>
          <p>1.2.  Пользователь  полностью принимает условия Договора и оплачивает услуги Компании в соответствии с условиями настоящего Договора.</p>
          <p>2. Почтовый сервис</p>
          <p>2.1. Предоставление Пользователю интерфейса для отправки электронных писем и получения информационных материалов</p>
          <p>2.2. Предоставление различных способов оплаты услуг с помощью специализированных сервисов</p>
          <p>2.3. Функцией Почтового сервиса в процессе передачи электронных сообщений от Пользователя к Получателю является передача данных указанных Пользователем при заполнении «Формы отправки электронного письма» до сервера исправительного учреждения посредством сети интернет.</p>
          <p>2.4. Услуга информирования Пользователя о прохождении этапа цензуры. Уведомление Пользователя осуществляется в виде электронных сообщений отправленных на e-mail адрес указанный Пользователем в «Форме отправки электронного письма»</p>
          <p>1.1. Предметом Договора является возмездное оказание Компанией Услуг Пользователю в сети Интернет на сайте Компании расположенного по адресу  в соответствии с условиями настоящего Договора. Перечень Услуг и порядок их предоставления указаны в п.2. и п.3. настоящего Договора.</p>
          <p>1.2.  Пользователь  полностью принимает условия Договора и оплачивает услуги Компании в соответствии с условиями настоящего Договора.</p>
          <p>2. Почтовый сервис</p>
          <p>2.1. Предоставление Пользователю интерфейса для отправки электронных писем и получения информационных материалов</p>
          <p>2.2. Предоставление различных способов оплаты услуг с помощью специализированных сервисов</p>
          <p>2.3. Функцией Почтового сервиса в процессе передачи электронных сообщений от Пользователя к Получателю является передача данных указанных Пользователем при заполнении «Формы отправки электронного письма» до сервера исправительного учреждения посредством сети интернет.</p>
          <p>2.4. Услуга информирования Пользователя о прохождении этапа цензуры. Уведомление Пользователя осуществляется в виде электронных сообщений отправленных на e-mail адрес указанный Пользователем в «Форме отправки электронного письма»</p>
          <p>1.1. Предметом Договора является возмездное оказание Компанией Услуг Пользователю в сети Интернет на сайте Компании расположенного по адресу  в соответствии с условиями настоящего Договора. Перечень Услуг и порядок их предоставления указаны в п.2. и п.3. настоящего Договора.</p>
          <p>1.2.  Пользователь  полностью принимает условия Договора и оплачивает услуги Компании в соответствии с условиями настоящего Договора.</p>
          <p>2. Почтовый сервис</p>
          <p>2.1. Предоставление Пользователю интерфейса для отправки электронных писем и получения информационных материалов</p>
          <p>2.2. Предоставление различных способов оплаты услуг с помощью специализированных сервисов</p>
          <p>2.3. Функцией Почтового сервиса в процессе передачи электронных сообщений от Пользователя к Получателю является передача данных указанных Пользователем при заполнении «Формы отправки электронного письма» до сервера исправительного учреждения посредством сети интернет.</p>
          <p>2.4. Услуга информирования Пользователя о прохождении этапа цензуры. Уведомление Пользователя осуществляется в виде электронных сообщений отправленных на e-mail адрес указанный Пользователем в «Форме отправки электронного письма»</p>
        </div>
      </div>
    </div>
  </div>
</div>
