<ul class="pagination">
  <li>
    <a href="#" aria-label="Previous">
      <svg class="icon icon-arrow-pag-left"><use xlink:href="#icon-arrow-pag-left"></use></svg>
    </a>
  </li>
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li class="hidden-xs"><a href="#">3</a></li>
  <li class="hidden-xs"><a href="#">4</a></li>
  <li class="hidden-xs"><a href="#">5</a></li>
  <li><a href="#">...</a></li>
  <li><a href="#">21</a></li>
  <li>
    <a href="#" aria-label="Next">
      <svg class="icon icon-arrow-pag-right"><use xlink:href="#icon-arrow-pag-right"></use></svg>
    </a>
  </li>
</ul>
