<div class="share indent-40">
  <ul class="no-style">
    <li>
      <a href="#">
        <svg class="icon icon-share-fb"><use xlink:href="#icon-share-fb"></use></svg>
        <span class="number">128</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon icon-share-vk"><use xlink:href="#icon-share-vk"></use></svg>
        <span class="number">2 520</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon icon-share-fb"><use xlink:href="#icon-share-ok"></use></svg>
        <span class="number">12</span>
      </a>
    </li>
  </ul>
</div>
