nav {
  float: left;
  padding: 25px 0;

  ul {
    margin: 0;

    li {
      float: left;
      padding: 0;
      margin: 0;
      position: relative;

      &:before {
        display: none;
      }
      &:hover,
      &.hover {
        @media screen and (min-width: $screen-md) {
          > .sub-menu {
              pointer-events: all;
              @include opacity(1);
          }
        }
      }
      &.has-childs {
        @media screen and (min-width: $screen-md) {
          &:hover,
          &.hover {
            .arrow {
              pointer-events: all;
              @include opacity(1);
            }
          }
          &:last-child {
            @media screen and (max-width: 1300px) {
              .sub-menu {
                left: -390px;
              }
            }
          }
          .icon-back {
            display: none;
          }
          .arrow {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 30px;
            border-bottom: 15px solid $main-color;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            pointer-events: none;
            @include transition(all .3s linear);
            @include opacity(0);
          }
        }
        @media screen and (max-width: $screen-sm-max) {
          position: relative;
          @include transition(all .5s linear);

          &.active {
            padding-left: 35px;

            a {
              font-size: 16px;
              color: #f8ac00;
            }
            .icon-back {
              @include opacity(1);
            }
            .sub-menu {
              pointer-events: all;
              position: relative;
              padding: 0;
              display: inline-block;
              left: -35px;
              @include opacity(1);
            }
          }
          .sub-menu {
            display: none;
          }
          .icon-back {
            position: absolute;
            top: 3px;
            left: 0;
            @include opacity(0);
            @include transition(all .05s linear);
          }
        }
      }
      &.active a,
      a {
        padding: 10px 15px;
        color: #000;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          color: $link-hover-color-item;
          text-decoration: none;
        }
        @media screen and (max-width: $screen-lg) {
          font-size: 13px;
        }
      }
    }
    .sub-menu {
      position: absolute;
      left: -15px;
      top: 100%;
      margin-top: 20px;
      background: #f8fafc;
      padding: 30px;
      min-width: 500px;
      border-radius: 3px;
      border: 1px solid #e5eaed;
      border-top: 0;
      pointer-events: none;
      z-index: 100;
      @include transition(all .3s linear);
      @include opacity(0);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 3px 3px 0 0;
        background: $main-color;
      }
      li {
        float: left;
        width: 50%;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
        a {
          padding: 0;
        }
      }
      @media screen and (max-width: $screen-sm-max) {
        margin: 30px 0 10px !important;
        border-radius: 0;
        background: #6e2164;
        border: 0;
        padding: 15px;
        min-width: 0;

        &:before,
        &:after {
          display: none;
        }
        li {
          margin-bottom: 15px;

          a {
            padding: 0;
            display: block;
            color: #fff !important;
            font-size: 25px !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: $screen-sm-max) {
    display: none;

    &.main-menu.show-childs {
      display: block;


      > ul {
        > li {
          margin: 0;
        }
      }
      ~ .info {
        @media screen and (max-height: 600px) {
          position: static;
        }
      }
      > ul {
        > li {
          max-height: 0;
          overflow: hidden;
          @include transition(all .5s linear);

          &.has-childs {
            max-height: 10000px;
            position: relative;
            z-index: 999;
            display: none;

            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}
.site {
  &-header {
    position: relative;
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #e5eaed;

    .logo {
      float: left;
      margin-right: 85px;

      @media screen and (max-width: $screen-lg) {
        margin-right: 30px;
      }
      @media screen and (max-width: $screen-sm-max) {
        padding: 15px 0 0;
      }
    }
    .offer {
      float: right;
      padding: 15px 0;
      margin-left: 60px;

      @media screen and (max-width: $screen-lg) {
        margin-left: 15px;
      }
      @media screen and (min-width: $screen-lg) and (max-width: 1300px) {
        margin-right: 10px;
        margin-left: 0px;
      }
      @media screen and (max-width: $screen-sm-max) {
        float: left;
        margin-left: 60px;
        padding: 25px 0 0;
      }
    }
    .social {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: -1px;
      right: 0;
      z-index: 1;
      max-width: 38px;
      overflow: hidden;

      li {
        margin-bottom: 0;
        padding-left: 0;

        &:before {
          display: none;
        }
        a {
          float: left;
          max-width: 39px;
          max-height: 38px;
          overflow: hidden;

          @media screen and (max-width: $screen-sm-max) {
            max-width: 33px;
            max-height: 32px;
          }
        }
        .icon-social {
          border: 1px solid #e5eaed;
        }
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      padding: 0;

      .social {
        max-width: 32px;
      }
      .container {
        width: 100%;
        padding: 0;
      }
    }
    @media screen and (max-width: ($screen-xs-max - 50)) {
      padding-top: 39px;

      .offer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 9;

        .btn {
          width: 100%;
          border-radius: 0;
        }
      }
      .social {
        top: 37px;
      }
    }
    @media screen and (max-width: $screen-xs) {
      .social {
        display: none;
      }
    }
  }
  &-footer {
    background: #f4f6f8;
    padding: 70px 0 90px;

    p {
      font-size: 14px;
      line-height: 29px;
    }
    ul {
      a {
        color: #000;
        text-decoration: none !important;

        &:hover {
          color: $link-color;
        }
      }
    }
    .copyright {
      margin-top: 40px;
      font-size: 14px;
    }
    .phone {
      font-size: 25px;
      display: block;
      margin-bottom: 15px;
      color: #000;
      text-decoration: none !important;

      &:hover {
        color: $link-color;
      }
    }
    .mail {
      font-size: 14px;
      display: block;
      margin-bottom: 10px;
      color: #000;
      text-decoration: none !important;

      &:hover {
        color: $link-color;
      }
    }
    .write {
      font-size: 14px;

      .icon-send {
        position: relative;
        top: 3px;
      }
    }
    .icon-logo {
      max-width: 140px;
      max-height: 50px;
      margin-bottom: 35px;
    }
    .social {
      margin-top: 35px;

      li {
        display: inline-block;
        margin-right: 10px;

        .icon-social {
          max-width: 40px;
          max-height: 40px;
          stroke-width: 0;
          color: #fff;
          background: #a1afb8;

          &:hover {
            background: #B9C5CB;
            border: 1px solid #B9C5CB;
          }
        }
      }
    }
    @media screen and (min-width: $screen-sm) {
      .social {
        display: none;
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      padding: 65px 0;

      p {
        font-size: 18px;
        line-height: 29px;
      }
      .copyright,
      .write,
      .mail {
        font-size: 16px;
      }
    }
    @media screen and (max-width: $screen-xs-max) {
      padding: 50px 0;
    }
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  z-index: 9;
  background: #6e2164;
  padding: 40px 50px;
  z-index: 15;
  overflow: auto;
  @include transition(all .5s linear);

  &.active {
    left: 0;
  }
  .info {
    position: absolute;
    bottom: 40px;
    left: 50px;

    .phone {
      a {
        font-size: 16px;
        color: #fff;
      }
    }
    .send {
      a {
        text-decoration: underline;
        font-size: 16px;
        color: #ed9310;
      }
    }
  }
  @media screen and (max-width: $screen-sm-max) {
    nav {
      display: inline-block;
      float: none;

      ul {
        margin: 60px 0;

        li {
          width: 100%;
          display: block;
          margin-bottom: 15px;

          a {
            padding: 0;
            display: block;
            color: #fff;
            font-size: 25px;
          }
        }
      }
    }
  }
  @media screen and (max-width: $screen-xs) {
    width: 100%;
    padding: 20px;

    nav {
      ul {
        margin: 30px 0;
      }
    }
    .info {
      bottom: 20px;
      left: 20px;
    }
  }
  @media screen and (max-height: 500px) {
    .info {
      position: static;
      margin-top: 40px;
    }
  }
}
.share {
  .jssocials-share {
    min-width: 95px;
    margin: 0 10px 10px 0;

    &-link {
      width: 33px;
      height: 33px;
      display: inline-block;
      padding: 0;
      background-size: cover !important;
      vertical-align: top;
    }
    &-count {
      text-align: center;
      color: #fff;
      font-size: 14px;
      line-height: 33px;
      padding: 0 5px;
      display: block;
      width: 100%;

      &-box {
        position: relative;
        height: 33px;
        min-width: 60px;
        margin: 0;
        display: inline-block;
        vertical-align: top;

        &.jssocials-share-no-count {
          .jssocials-share-count {
            &:before {
              content: '0';
              width: 100%;
              text-align: center;
              color: #fff;
              font-size: 14px;
              line-height: 33px;
            }
          }
        }
        &:after {
          display: none;
        }
      }
    }
    &-facebook {
      .jssocials-share {
        &-link {
          background: url("../img/svg/share-fb.svg") no-repeat;
        }
        &-count {
          &-box {
            background: #5778C6;
          }
        }
      }
    }
    &-vkontakte {
      .jssocials-share {
        &-link {
          background: url("../img/svg/share-vk.svg") no-repeat;
        }
        &-count {
          &-box {
            background: #618AB0;
          }
        }
      }
    }
    &-odnoklassniki {
      .jssocials-share {
        &-link {
          background: url("../img/svg/share-ok.svg") no-repeat;
        }
        &-count {
          &-box {
            background: #F28645;
          }
        }
      }
    }
    .fa {
      display: none;
    }
  }
}
.numicon {
  &-item {
    border: 1px solid #DDE2E5;
    position: relative;
    border-radius: 2px;
    margin-top: 20px;

    &__main {
      padding: 40px 30px;
      position: relative;
      @include flexbox();
      @include flex-wrap(wrap);
    }
    &__thumb {
      width: 145px;

      img {
        border: 1px solid #F5F7F9;
      }
    }
    &__content {
      padding-left: 35px;
      width: calc(100% - 145px);
      max-width: 590px;
    }
    &__title {
      font-family: $font-family-bold;
      margin-bottom: 20px;
      font-size: 17px;
    }
    &__desc {
      font-size: 14px;
      color: rgb(0, 0, 0);
      line-height: 1.5;

      &_toggle {
        display: none;
      }
    }
    &__toggle {
      font-size: 14px;
    }
    &__remove {
      position: absolute;
      top: 50%;
      right: 30px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: url('../img/numicon-delete.png') no-repeat;
      cursor: pointer;
      @include transition(all .3s ease);
      @include translate(0, -50%);

      &:hover {
        @include opacity(.7);
      }
    }
    &__info {
      width: calc(100% - 145px - 590px - 40px);
      text-align: center;
      padding-top: 20px;
    }
    &__footer {
      border-top: 1px solid #DDE2E5;
      background-color: #F5F5F5;
      padding: 17px 30px;
      font-size: 16px;
      font-family: $font-family-bold;
      color: rgba(0, 0, 0, 0.529);
      line-height: 1.375;
      text-align: right;
    }
    .price {
      font-family: $font-family-bold;
      font-size: 20px;
      margin-bottom: 15px;
      display: block;
    }
    .counter {
      &-block {
        input {
          border-radius: 2px;
          background-color: #fff;
          border: 1px solid #DEE3E6;
          width: 152px;
          height: 48px;
          text-align: center;
          padding-left: 46px;
          padding-right: 46px;
          font-family: $font-family-bold;
        }
      }
      &-btn {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid #DEE3E6;
        background-color: #F3F3F3;
        top: 50%;
        font-family: $font-family-bold;
        @include translate(0, -50%);

        &.inc {
          right: 15px;
        }
        &.dec {
          right: inherit;
          bottom: inherit;
          left: 15px;
        }
      }
    }
    @media (max-width: $screen-md-max) {
      &__thumb {
        @include order(1);
      }
      &__info {
        width: 100%;
        max-width: 145px;
        @include order(2);
      }
      &__content {
        width: calc(100% - 145px);
        @include order(3);
      }
      .counter {
        &-block {
          input {
            width: 145px;
          }
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      &__remove {
        top: 10px;
        right: 10px;
        @include translate(0, 0);
      }
    }
    @media (max-width: 550px) {

      &__thumb {
        width: 100%;
        @include flexbox();
        @include flex-wrap(wrap);
      }
      &__info {
        width: auto;
        margin-left: auto;
      }
      &__main {
        padding: 25px 15px;
      }
      &__footer {
        padding: 15px;
      }
      &__content {
        margin-top: 20px;
        width: 100%;
        padding-left: 0;
      }
    }
    @media (max-width: 450px) {
      &__thumb {
        display: block;

        img {
          width: 100%;
          height: auto;
          max-height: none;
        }
      }
      &__info {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  &-add {
    position: relative;
    height: 53px;
    line-height: 53px;
    padding: 0 40px 0 60px;
    color: rgb(238, 59, 57);
    background-color: #fff;
    border: 1px solid rgb(238, 59, 57);
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 20px;
    @include transition(all .3s ease);

    &:before {
      content: '+';
      position: absolute;
      top: 14px;
      left: 20px;
      width: 25px;
      height: 25px;
      border: 1px solid rgb(238, 59, 57);
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      padding-left: .5px;
      @include transition(all .3s ease);
    }

    &:hover {
      background-color: rgb(238, 59, 57);
      color: #fff;

      &:before {
        background-color: #fff;
        border-color: #fff;
        color: rgb(238, 59, 57);
      }
    }
  }
  .js-select .jq-selectbox__select-text {
    padding: 19.5px 25px;
  }
}