.modal {
  &.small {
    .modal-dialog {
      max-width: 450px;
      margin: 50px auto;
    }
  }
  &.medium {
    .modal-dialog {
      max-width: 580px;
      margin: 50px auto;
    }
  }
  &.big {
    .modal-dialog {
      max-width: 1140px;
      width: 100%;
      margin: 50px auto;

      @media (max-width: $screen-sm-max) {
        margin: 0 auto;
      }
    }
  }
  &.full-vh {
    .modal-dialog {
      max-height: calc(100vh - 97px);
      overflow: hidden;
    }
    .modal-content {
      padding: 70px 25px 50px 50px;
      max-height: calc(100vh - 105px);
    }
    .scroll-pane {
      width: 100% !important;
      height: calc(100vh - 270px) !important;
      overflow: hidden !important;
    }
    .jspPane {
      padding-right: 40px !important;
    }

    @media (max-width: $screen-sm) {
      .modal-dialog {
        max-height: 100%;
        max-width: 100%;
      }
      .modal-content {
        max-height: 100%;
        overflow: hidden;
      }
      .scroll-pane {
        height: calc(100vh - 170px) !important;
      }
      .jspPane {
        padding-right: 20px !important;
      }
    }
    @media (max-width: $screen-xs-max) {
      .modal-content {
        padding: 60px 25px;
      }
    }
  }
  &.bg {
    .modal-content {
      background: url('../img/modal_bg.png') -50px 50px no-repeat #fff;

      @media (max-width: $screen-sm) {
        background: url('../img/modal_bg.png') -50px bottom no-repeat #fff;
      }
    }
  }
  &.in {

  }
  &.numicon {
    .modal-content {
      padding: 70px 50px 50px 50px;

      @media (max-width: $screen-xs-max) {
        padding: 60px 25px;
      }
    }
    .numicon {
      &-item {
        &__content {
          width: calc(100% - 145px);
          max-width: 100%;

          @media (max-width: 550px) {
            width: 100%;
          }
        }
        &__info {
          width: 100%;

          .counter {
            &-block {
              input {
                max-width: 145px;
              }
            }
          }
        }
      }
    }
    .jq-selectbox__dropdown {
      top: 100% !important;
    }
  }
  &-cross {
    color: #a0aeb8;
    z-index: 999;
  }
  &-content {
    border: 1px solid #e8eaec;
    border-radius: 2px;
    padding: 70px 60px 50px;
    @include box-shadow(0 0 15px -5px rgba(0,0,0,.4));
  }
  &-backdrop {
    background: #fff;
    @include opacity(.58);
  }
  &-open {
    .wrapper {
      @include blur(3);
    }
  }
  &-header {
    padding: 0;
    border-bottom: 0;
  }
  &-body {
    padding: 0;
  }
  &-footer {
    border-top: 0;
    padding: 0;
  }
  @media (max-width: $screen-sm) {
    &-dialog {
      width: 100%;
      height: 100%;
      margin: 0 !important;
    }
    &-content {
      height: 100%;
      overflow: auto;
    }
    &-open {
      position: fixed;
      left: 0;
      right: 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    &-content {
      padding: 60px 25px 40px;
    }
  }
}
